<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr>
                <p class="text-faded">Fusce pharetra fermentum felis ac vehicula. Fusce sed facilisis sem. Nulla bibendum nisl non leo tempus egestas. Ut vitae dignissim metus. Curabitur lobortis non enim eu aliquam. Aliquam facilisis eleifend ex id vestibulum. Duis quis semper risus, non sagittis lacus. Nullam eleifend tristique congue. Nam convallis est erat, ut pretium diam ornare eu. Proin in pulvinar leo. Vivamus rhoncus non nibh ac egestas. Integer ullamcorper lectus sit amet ipsum euismod ullamcorper. Aliquam a erat sem.</p>
                <hr>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </div>
</section>
