<section class="bg-dark" id="about">
    <div class="container">
        <div class="row" style="max-width: 95%; margin:auto; text-align: justify;">
            <div class="col-lg-8 col-lg-offset-2 text-center wow fadeIn" style="animation-duration: 3s">
                <h2 class="section-heading">Something for Everyone!</h2>
                <br>
                <hr>
                <br>
                <p class="text-faded text-justify">From fundamental to advanced adult classes, our practical and self-defense focused curriculum matches the needs of each learner - regardless of skill level. We also offer kids classes that cater to any age. Our clean, professional facilities and instructors are just what you need to elevate your game. Check out our schedule and gallery, then contact us to get started!</p>
                <hr class="gray">
                <a href="#services" class="btn btn-default btn-xl">learn more</a>
            </div>
        </div>
    </div>
</section>
