<section class="bg-dark" id="contact">
    <div class="container">
<!--         <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="dark">
                </a>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://instagram.com/{{ site.instagram_username }}">
                    <i class="fa fa-instagram fa-3x wow bounceIn text-center" data-wow-delay=".1s" style="color:#FBE400"></i>
                    <p class="text-faded"> </p>
                    <!-- <p class="text-faded">{{ site.instagram_username }}</p> -->
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://facebook.com/{{ site.facebook_username }}">
                    <i class="fa fa-facebook fa-3x wow bounceIn text-center" data-wow-delay=".1s" style="color:#FBE400"></i>
                    <p class="text-faded"> </p>
                    <!-- <p class="text-faded">{{ site.facebook_username }}</p> -->
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn text-center" data-wow-delay=".1s" style="color:#FBE400"></i>
                    <p class="text-faded"> </p>
                    <!-- <p class="text-faded">gmbjjwnc68@yahoo.com</p> -->
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="gray">
                <hr class="gray">
                <a class="contact" target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/place/Gustavo+Machado+Brazilian+Jiu+Jitsu+Wilson,+NC/@35.7656169,-77.9483881,15z/data=!4m2!3m1!1s0x0:0x9ceee373f6d7056f?sa=X&ved=2ahUKEwj896PpmNDtAhXDrVkKHbkODQsQ_BIwCnoECBUQAw">
                    <div class="contact-address text-faded2">3475 Airport Blvd NW, Wilson, NC 27896</div>
                </a>
                <!-- <hr class="gray"> -->
                <p class="text-faded">Gustavo Machado Brazilian Jiu-Jitsu Wilson, NC © 2020</p>
            </div>
        </div>
    </div>
</section>
