<head>
  <style>
    h1 {
        display: block;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }
    h2 {
        display: block;
        margin: 0;
        padding: 0;
      }
    /*mobile*/
    @media only screen and (hover: none) and (pointer: coarse){
      h1,
      h2 {
        display: block;
      }
    }
  </style>
</head>

<span class="schedule-title" id="gallery_title"><span class="bg-dark"><br><br><h1>Gallery</h1><h2 class="text-faded">{{ site.year }}</h2><br><br><br></span></span>
