<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Gustavo Machado Brazilian Jiu-Jitsu 68</h1>
            <hr>
            <h2>Wilson, NC</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fringilla, nisl ut vulputate blandit, ipsum lacus tincidunt ipsum, id volutpat elit tellus euismod est.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Join Us</a>
        </div>
    </div>
</header>
