<head>
	<style>
        /*Mobile*/
		@media only screen and (hover: none) {
	        header {
	            background-attachment: scroll;
	        }
	    }
	</style>
</head>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Gustavo <br />Machado Brazilian <br />Jiu-Jitsu</h1>
            <h2>Wilson, NC</h2>
            <hr>
            <p>Wilson's premiere Brazilian Jiu-Jitsu academy. Led by Professor Scott Bass, a Gustavo Machado black belt with over 10 years of experience. Come see what we're all about!</p>
            <a href="#about" class="btn btn-primary btn-xl">LET'S GO</a>
            <br><br>
        </div>
    </div>
</header>
