<style type="text/css">
  .logo {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    max-height: 5em;
    max-width: 5em;
    vertical-align: middle;
    float: left;
  }
  li {
    margin: 0;position: relative;/*top: 50%;*//*left: 50%;*/transform: translate(0, 25%);
  }
/*  .navbar {
    position: static;
  }*/
</style>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./">
        <img class="logo" src="../img/gm_logo.webp">
      </a>
      <a class="navbar-brand" style="margin: 0;position: relative;transform: translate(0, 25%);" href="./">GMBJJWNC</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="./">Home</a>
        </li>
        <li>
          <a href="schedule">Schedule</a>
        </li>
        <li>
          <a href="testimonials">Testimonials</a>
        </li>
        <li>
          <a href="#page-top">Gallery</a>
        </li>
        <!-- <li>
          <a>Blog</a>
        </li> -->
        <li>
          <a href="learning">Learning</a>
        </li>
        <li>
          <a href="location">Contact</a>
        </li>
        <li>
          <a href="login">Login</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
