<style type="text/css">
  .img-responsive {
    max-height: 100%;
    max-width: 100%;
  }
</style>

<section class="no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/1.webp" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                learning
              </div>
              <div class="project-name">
                from the master
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/2.webp" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                paying
              </div>
              <div class="project-name">
                it forward
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/3.webp" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                focus
              </div>
              <div class="project-name">
                & commitment
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/4.webp" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                play hard
              </div>
              <div class="project-name">
                work hard
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/5.webp" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                our lineage
              </div>
              <div class="project-name">
                Scott Bass
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/portfolio/6.webp" class="img-responsive">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                work clean
              </div>
              <div class="project-name">
                think clean
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
