<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Something for Everyone</h2>
                <hr class="dark">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Attribute 1</h3>
                    <p class="text-muted">Etiam diam elit, luctus auctor dui sit amet, cursus laoreet velit.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Attribute 2</h3>
                    <p class="text-muted">Suspendisse nunc turpis, iaculis eget fermentum sit amet, laoreet vitae ex.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Attribute 3</h3>
                    <p class="text-muted">Maecenas massa ipsum, efficitur sed fringilla vel, feugiat ut ligula.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Attribute 4</h3>
                    <p class="text-muted">Mauris sed gravida felis.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="header-content-inner text-center">
                <hr class="light">
                <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact Us!</a>
            </div>
        </div>
    </div>
</section>
