<section class="bg-light" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Something for Everyone</h2>
                <hr>
                <!-- <hr class="lightgray"> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" style="color:white"></i>
                    <h3>Kids</h3>
                    <p class="text-muted">For our younger jiujiteiros. Begin a rewarding, lifelong journey today!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" style="color:white"></i>
                    <h3>Fundamentals</h3>
                    <p class="text-muted">The strongest house is built on the strongest foundation. Develop the skills you will use in the present, and hone them for the future.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s" style="color:white"></i>
                    <h3>Advanced</h3>
                    <p class="text-muted">Take your fundamentals to the next level. Evolve your game and find the style that suits you.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s" style="color:white"></i>
                    <h3>Open Mat</h3>
                    <p class="text-muted">Test out what you have learned all week in safe, controlled sparring sessions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="header-content-inner text-center">
                <hr class="lightgray">
                <a href="#contact" class="btn btn-whiteblack btn-xl page-scroll">Contact Us</a>
            </div>
        </div>
    </div>
</section>
